# coding: utf-8

"""
    Seeq REST API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 66.190.1-v202609041131-CD
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import sys
import os
import re

from deprecated import deprecated
# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient
from ..models import *

class ApprovalFlowAssignmentsApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def create_approval_flow_assignment(self, **kwargs):
        """
        Approve an item into a step of an approval flow
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.create_approval_flow_assignment(body=body_value, flow_id=flow_id_value, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param ApprovalFlowAssignmentInputV1 body: (required)
        :param str flow_id: The Seeq ID of the approval flow (required)
        :return: ApprovalFlowAssignmentOutputV1
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: ApprovalFlowAssignmentOutputV1
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.create_approval_flow_assignment_with_http_info(**kwargs)
        else:
            (data) = self.create_approval_flow_assignment_with_http_info(**kwargs)
            return data

    def create_approval_flow_assignment_with_http_info(self, **kwargs):
        """
        Approve an item into a step of an approval flow
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.create_approval_flow_assignment_with_http_info(body=body_value, flow_id=flow_id_value, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param ApprovalFlowAssignmentInputV1 body: (required)
        :param str flow_id: The Seeq ID of the approval flow (required)
        :return: ApprovalFlowAssignmentOutputV1
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: ApprovalFlowAssignmentOutputV1
        """

        all_params = ['body', 'flow_id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')
        all_params.append('_response_type')
        all_params.append('_custom_headers')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_approval_flow_assignment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'body' is set
        if ('body' not in params) or (params['body'] is None):
            raise ValueError("Missing the required parameter `body` when calling `create_approval_flow_assignment`")
        # verify the required parameter 'flow_id' is set
        if ('flow_id' not in params) or (params['flow_id'] is None):
            raise ValueError("Missing the required parameter `flow_id` when calling `create_approval_flow_assignment`")


        collection_formats = {}

        path_params = {}
        if 'flow_id' in params:
            path_params['flowId'] = params['flow_id']

        query_params = []

        header_params = {}

        for key, value in params.get('_custom_headers', {}).items():
            header_params[key] = value


        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/vnd.seeq.v1+json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/vnd.seeq.v1+json', ])

        # Authentication setting
        auth_settings = ['api_key']

        return self.api_client.call_api('/approval-flows/{flowId}/assignments', 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type=params.get('_response_type', 'ApprovalFlowAssignmentOutputV1'),
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def get_approval_flow_assignment(self, **kwargs):
        """
        Get a single approval flow assignment by id
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_approval_flow_assignment(flow_id=flow_id_value, id=id_value, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str flow_id: The Seeq ID of the approval flow (required)
        :param str id: The Seeq ID of the approval flow assignment (required)
        :param bool include_archived: Return the assignment even if its flow or step is archived
        :return: ApprovalFlowAssignmentOutputV1
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: ApprovalFlowAssignmentOutputV1
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.get_approval_flow_assignment_with_http_info(**kwargs)
        else:
            (data) = self.get_approval_flow_assignment_with_http_info(**kwargs)
            return data

    def get_approval_flow_assignment_with_http_info(self, **kwargs):
        """
        Get a single approval flow assignment by id
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.get_approval_flow_assignment_with_http_info(flow_id=flow_id_value, id=id_value, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str flow_id: The Seeq ID of the approval flow (required)
        :param str id: The Seeq ID of the approval flow assignment (required)
        :param bool include_archived: Return the assignment even if its flow or step is archived
        :return: ApprovalFlowAssignmentOutputV1
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: ApprovalFlowAssignmentOutputV1
        """

        all_params = ['flow_id', 'id', 'include_archived']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')
        all_params.append('_response_type')
        all_params.append('_custom_headers')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_approval_flow_assignment" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'flow_id' is set
        if ('flow_id' not in params) or (params['flow_id'] is None):
            raise ValueError("Missing the required parameter `flow_id` when calling `get_approval_flow_assignment`")
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `get_approval_flow_assignment`")


        collection_formats = {}

        path_params = {}
        if 'flow_id' in params:
            path_params['flowId'] = params['flow_id']
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = []
        if 'include_archived' in params:
            query_params.append(('includeArchived', params['include_archived']))

        header_params = {}

        for key, value in params.get('_custom_headers', {}).items():
            header_params[key] = value


        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/vnd.seeq.v1+json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/vnd.seeq.v1+json', ])

        # Authentication setting
        auth_settings = ['api_key']

        return self.api_client.call_api('/approval-flows/{flowId}/assignments/{id}', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type=params.get('_response_type', 'ApprovalFlowAssignmentOutputV1'),
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def list_approval_flow_assignments(self, **kwargs):
        """
        List the assignments in an approval flow
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.list_approval_flow_assignments(flow_id=flow_id_value, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str flow_id: The Seeq ID of the approval flow (required)
        :param str item_id: Only return assignments for this item
        :param str step_id: Only return assignments approved into this step
        :param bool include_archived: Include assignments belonging to an archived flow or step
        :param int offset: Pagination offset
        :param int limit: Page size
        :return: ApprovalFlowAssignmentOutputListV1
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: ApprovalFlowAssignmentOutputListV1
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.list_approval_flow_assignments_with_http_info(**kwargs)
        else:
            (data) = self.list_approval_flow_assignments_with_http_info(**kwargs)
            return data

    def list_approval_flow_assignments_with_http_info(self, **kwargs):
        """
        List the assignments in an approval flow
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.list_approval_flow_assignments_with_http_info(flow_id=flow_id_value, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str flow_id: The Seeq ID of the approval flow (required)
        :param str item_id: Only return assignments for this item
        :param str step_id: Only return assignments approved into this step
        :param bool include_archived: Include assignments belonging to an archived flow or step
        :param int offset: Pagination offset
        :param int limit: Page size
        :return: ApprovalFlowAssignmentOutputListV1
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: ApprovalFlowAssignmentOutputListV1
        """

        all_params = ['flow_id', 'item_id', 'step_id', 'include_archived', 'offset', 'limit']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')
        all_params.append('_response_type')
        all_params.append('_custom_headers')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_approval_flow_assignments" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'flow_id' is set
        if ('flow_id' not in params) or (params['flow_id'] is None):
            raise ValueError("Missing the required parameter `flow_id` when calling `list_approval_flow_assignments`")


        collection_formats = {}

        path_params = {}
        if 'flow_id' in params:
            path_params['flowId'] = params['flow_id']

        query_params = []
        if 'item_id' in params:
            query_params.append(('itemId', params['item_id']))
        if 'step_id' in params:
            query_params.append(('stepId', params['step_id']))
        if 'include_archived' in params:
            query_params.append(('includeArchived', params['include_archived']))
        if 'offset' in params:
            query_params.append(('offset', params['offset']))
        if 'limit' in params:
            query_params.append(('limit', params['limit']))

        header_params = {}

        for key, value in params.get('_custom_headers', {}).items():
            header_params[key] = value


        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/vnd.seeq.v1+json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/vnd.seeq.v1+json', ])

        # Authentication setting
        auth_settings = ['api_key']

        return self.api_client.call_api('/approval-flows/{flowId}/assignments', 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type=params.get('_response_type', 'ApprovalFlowAssignmentOutputListV1'),
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
